.custom-card {
    border-radius: 20px;
    border: none;
}

.custom-img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-link {
    text-decoration: none;
    color: inherit;
}